<!DOCTYPE html>
<html>
  <head>
    <title>Books List</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="grid-container">

      <%= render partial: 'partials/header' %>
      <%= render partial: 'partials/notifications', flash: flash %>
      <div class="col-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
